@import "tailwindcss";

:root {
  background: #0a0a0a;
  color: #ffffff;
}

body {
  /* C'est la version CSS standard pour l'effet "antialiased" */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}